<div>
<h1> Pirate </h1>
<p><%= @pirate.name %></p><br>
<p><%= @pirate.weight %></p><br>
<p><%= @pirate.height %></p><br>
</div>

<div>
<h2>Ship and/or Ship 2</h2>
<% @ships.each do |ship| %>
<p><%= ship.name %></p><br>
<p><%= ship.type %></p><br>
<p><%= ship.booty %></p><br>
<% end %>
</div>